//App UI style
#content{
  width:100%;
  overflow:hidden;
}
.panel{
  display:none;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  background-color:#FFF;
}

.panel-head{
  height:50px;
  width:100%;
  line-height:50px;
  position:absolute;
  top:0;
  text-align:center;
  color:#FFF;
  z-index:2;
}
.panel-head h1{
  font-size:20px;
  font-weight:normal;
}
.panel-head .hd_leftbtn{position:absolute;top:50%;margin-top:-18px;left:10px}
.panel-head .hd_rightbtn{position:absolute;top:50%;margin-top:-18px;right:10px}

.panel-content{
  position:absolute;
  top:50px;
  bottom:0;
  width:100%;
  z-index:1;
  overflow:hidden;
}
.panel-content-inner{
  position: absolute;
  z-index: 1;
  width: 100%;
}