/*App base style*/
#content{
  width:100%;
  overflow:hidden;
}
.panel{
  display:none;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  background-color:#FFF;
}

.panel-head{
  height:50px;
  width:100%;
  line-height:50px;
  position:absolute;
  top:0;
  text-align:center;
  color:#FFF;
  z-index:2;
}
.panel-head h1{
  font-size:20px;
  font-weight:normal;
}
.panel-head .hd_leftbtn{position:absolute;top:50%;margin-top:-18px;left:10px}
.panel-head .hd_rightbtn{position:absolute;top:50%;margin-top:-18px;right:10px}

.panel-content{
  position:absolute;
  top:50px;
  bottom:0;
  width:100%;
  z-index:1;
  overflow:hidden;
}
.panel-content-inner{
  position: absolute;
  z-index: 1;
  width: 100%;
}

/*调试信息*/
.itouch-warn{
	width:100%;
	min-height:30px;
	line-height:25px;
	text-indent:10px;
	background-color:#C90606;
	color:#FFF;
	position: absolute;
	bottom:0;
	left:0
}
.itouch-warn-close{
	background-color:yellow;color:#C90606;
	display:block;
	font-size:25px;
	width:20px;height:20px;line-height:20px;text-indent:0; text-align:center;
	border-radius:10px;
	position:absolute;right:10px;top:50%;margin-top:-10px;
}
.itouch-loader {
	width: 95px; 
	height:35px;
	padding: 30px 0;
	position: absolute; 
	left: 50%;
	top:50%;
	margin-left: -47px; 
	margin-top: -47px; 
	opacity: .85; 
	z-index: 100; 
	background-color:rgba(0,0,0,.5);
	border-radius:9px;
}
.spin  {
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:  infinite;
}
@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
  	to {-webkit-transform: rotate(360deg);}
}
.itouch-icon-loading {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjBAMAAADs965qAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////x8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHvvEhiAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAEaSURBVCiRY2AgATCapaUqoIiIzN5z5syZJiQRltW7gUJ3705C6OraDRG6GwATkli1evdusNBTuKJVq3c4MjBX3733DqqMfdWqFWDbau+9ewIRspy5KgHMYL737g1EX+fMaVAjbN+9KwDLzZxZAHPMu3cXwEbNnAl397p3YDslOmD6GBjs/v8AURodzXAh3v+/QZRHRyNciPP/f4hQA1yIHVMICtzLC9CFzMuL0IXEy0vQhdjK0+BsRqgv0tIMYEKCggJgmbS0QJgiQUEIwy0tVQCmCCokmhYaCFMElWMKDQ01BIkoKcKEGFRDQ1yMlISUgEIwe5iAQi7GxkpKSjBFwMh2cXEGCSkiOVcFLIQswsAgZGxshCpCBgAA0FNYp5zwDegAAAAASUVORK5CYII=);
	width: 35px;
	height: 35px;
	border-radius: 20px;
	background-size: 35px 35px;
	display: block; opacity: .9; margin: 0 auto;
}


/*App 动画集合*/
#content > .panel {
  z-index: 0;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-flex: 1;
  box-flex: 1;
}
#content > .current {
  z-index: 10;
}
#content > :not(.current) {
  display: none;
}
/*#content.touchscroll:not(.animating3d) {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#content.touchscroll:not(.animating3d) > * {
  height: 100%;
}
#content.touchscroll:not(.animating3d) .scroll {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#content .scroll {
  -webkit-margin-collapse: separate;
}*/
#content .in, #content .out{
  -webkit-animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
}
#content .in {
  z-index: 10;
}
#content .in:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#content .out {
  z-index: 0 !important;
}
#content.supports3d {
  -webkit-perspective: 1000;
}
#content.supports3d > * {
  -webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
}

/* Fade */
#content .fade.in {
  -webkit-animation-name: fadeIn;
}
#content .fade.out {
  z-index: 10;
  -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* Disolve */
#content .dissolve.in {
  -webkit-animation-name: dissolveIn;
}
#content .dissolve.out {
  -webkit-animation-name: dissolveOut;
}

@-webkit-keyframes dissolveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dissolveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* #Popin' */
#content .pop.in {
  -webkit-animation-name: popIn;
}

#content .pop.out {
  -webkit-animation-name: popOut;
}

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
}

/* Slide Left */
#content .slideleft.in {
  -webkit-animation-name: slideLeftIn;
}
#content .slideleft.out {
  -webkit-animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideLeftOut {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

/* Slide Right */
#content .slideright.in {
  -webkit-animation-name: slideRightIn;
}
#content .slideright.out {
  -webkit-animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

/* Slide Up */
#content .slideup.in {
  z-index: 10;
  -webkit-animation-name: slideUpIn;
}
#content .slideup.out {
  z-index: 0;
  -webkit-animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideUpOut {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

/* Slide Down */
#content .slidedown.in {
  z-index: 0;
  -webkit-animation-name: slideDownIn;
}

#content .slidedown.out {
  z-index: 10;
  -webkit-animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideDownOut {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(100%);
  }
}
#content .flipleft {
  -webkit-backface-visibility: hidden;
}

#content .flipleft.in {
  -webkit-animation-name: flipLeftIn;
}

#content .flipleft.out {
  -webkit-animation-name: flipLeftOut;
}

@-webkit-keyframes flipLeftIn {
  0% {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }
  
  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}

@-webkit-keyframes flipLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  }

  100% {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }
}

/* Flip Right */
#content .flipright {
  -webkit-backface-visibility: hidden;
}

#content .flipright.in {
  -webkit-animation-name: flipRightIn;
}

#content .flipright.out {
  -webkit-animation-name: flipRightOut;
}

@-webkit-keyframes flipRightIn {
  0% {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }

  100% {
    -webkit-transform: rotateY(0deg) scale(1);
  }
}

@-webkit-keyframes flipRightOut {
  0% {
    -webkit-transform: rotateY(0deg) scale(1);
  }

  100% {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }
}

/* Swap Right */
#content .swapright {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}

#content .swapright.in {
  -webkit-animation-name: swapRightIn;
}

#content .swapright.out {
  -webkit-animation-name: swapRightOut;
}

@-webkit-keyframes swapRightIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes swapRightOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }
}

/* Swap Left */
#content .swapleft {
  -webkit-animation-duration: .7s;
  -webkit-transform: perspective(800);
  -webkit-animation-timing-function: ease-out;
}

#content .swapleft.in {
  -webkit-animation-name: swapLeftIn;
}

#content .swapleft.out {
  -webkit-animation-name: swapLeftOut;
}

@-webkit-keyframes swapLeftIn {
  0% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
    opacity: 0;
  }

  35% {
    -webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
    opacity: 1;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
  }
}

@-webkit-keyframes swapLeftOut {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
    opacity: 1;
  }

  35% {
    -webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
    opacity: 0;
  }
}

/* Cube Left */
#content .cubeleft.in, #content .cubeleft.out, #content .cuberight.in, #content .cuberight.out {
  -webkit-animation-duration: .6s;
  -webkit-transform: perspective(800);
}

#content .cubeleft.in {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeLeftIn;
}

#content .cubeleft.out {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeLeftOut;
}

@-webkit-keyframes cubeLeftIn {
  0% {
    -webkit-transform: rotateY(90deg) translateZ(320px);
    opacity: .5;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes cubeLeftOut {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(-90deg) translateZ(320px);
    opacity: .5;
  }
}

/* Cube Right */
#content .cuberight.in {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-name: cubeRightIn;
}

#content .cuberight.out {
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-name: cubeRightOut;
}

@-webkit-keyframes cubeRightIn {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(320px);
    opacity: .5;
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes cubeRightOut {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0) translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(90deg) translateZ(320px);
    opacity: .5;
  }
}